{include file="tpl/style"/}
<form role="form" id="searchForm" action="{:url('/admin/Admin/index')}" method='post' class="form-horizontal">
    <div class="form-group">

        <div class="col-xs-12">
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 pull-left">
                <div class="row">
                    {include file='tpl/addBtn' url="/admin/Admin/add" height="80%" width="30%"/}
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <div class="row">
                    <span></span>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 pull-right">
                <div class="row">
                    {include file="tpl/searchBtn" /}
                    {include file="tpl/reloadBtn" /}
                </div>
            </div>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th nowrap="nowrap">ID</th>
            <th nowrap="nowrap">账号</th>
            <th nowrap="nowrap">昵称</th>
            <th nowrap="nowrap">角色</th>
            <th nowrap="nowrap">是否禁用</th>
            <th nowrap="nowrap">创建日期</th>
            <th nowrap="nowrap">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr>
            <td nowrap="nowrap">{$vo.id}</td>
            <td nowrap="nowrap">{$vo.account}</td>
            <td nowrap="nowrap">{$vo.name}</td>
            <td nowrap="nowrap">
                {notempty name="vo.groupName"}
                {$vo.groupName}
                {else /}
                未分配角色
                {/notempty}
            </td>
            <td nowrap="nowrap">{$vo.is_disable|getDropdownList="isDisable",###}</td>
            <td nowrap="nowrap">{$vo.create_time}</td>
            <td nowrap="nowrap">
                <!-- 自己不能操作自己 -->
                {if condition="($vo['id'] eq $account['id']) && (1 neq $account['id'])"}
                <span class="label label-danger">禁止操作</span>
                {else /}
                <!-- 启用、禁用 -->
                {eq name="vo.is_disable" value="1"}
                <i class="fa fa-play qg-tooltip qg-op-btn" data-toggle="tooltip" data-placement="top" title="启用"
                   onclick="confirmUpdate('/admin/admin/enable','{$vo.id}','确定要启用吗？')"></i>
                {else/}
                <i class="fa fa-stop qg-tooltip qg-op-btn" data-toggle="tooltip" data-placement="top" title="禁用"
                   onclick="confirmUpdate('/admin/admin/disable','{$vo.id}','确定要禁用吗？')"></i>
                {/eq}
                <!--编辑资料-->

                <i class="fa fa-edit qg-op-btn qg-tooltip" data-toggle="tooltip" data-placement="top" title="编辑"
                   onclick="modal('{:url(\'/admin/admin/edit\',[\'id\'=>$vo[\'id\']])}', '编辑','80%','50%')"></i>
                <!--删除-->
                <i class="fa fa-trash-o qg-tooltip qg-op-btn" data-toggle="tooltip" data-placement="top" title="删除"
                   onclick="confirmUpdate('/admin/admin/delete','{$vo.id}','确定要删除吗？')"></i>
                {/if}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div style="float: right;">{$pagelist}</div>
</div>