{include file="common/fileinput"/}
{include file="common/ueditor"/}
{include file="tpl/style"/}
<div class="col-xs-12">
    <div class="row">
        <form class="form-horizontal" role="form" id="form" action="{:url('edit')}">
            <div class="form-group">
                <input type="hidden" name="id" value="{$data.id}">
                {include file="tpl/integer" results="data" name="id" label="" value="id" attr=''/}
{include file="tpl/input" results="data" name="name" label="名称" value="name" attr=''/}
{include file="tpl/input" results="data" name="img" label="地址路径" value="img" attr=''/}
{include file="tpl/selectCol" results="data" name="article_id" label="文章id" value="article_id" list="hxc" attr=''/}

            </div>
            <div class="form-group" style="margin-top: 20px;">
                {include file="tpl/button" label="保存"/}
            </div>
        </form>
    </div>
</div>