<div class="form-group">
    {include file="tpl/label" label="[label]"}
    <div class="col-xs-9">
        <input id="[name]File" name="[name]File" type="file" class="file-loading">
        <input type='hidden' name='[name]' id='[name]' value="{$[results]['[value]']??''}">

        <script>
            $(function(){
                var $img = $("#" + "[name]");
                var $imgFile = $("#" + "[name]File");

                $imgFile.fileinput({
                    language: 'zh',
                    uploadUrl: "{:url('Tool/uploadImage', ['filename'=>'[name]File'])}",
                    uploadAsync: true,
                    minFileCount: 1,
                    maxFileCount: 1,    
                    overwriteInitial: true,
                    showUpload: false,
                    layoutTemplates: {actionZoom:""},
                    initialPreview: "{$[results]['[value]']??''}",
                    initialPreviewAsData: true,
                    initialPreviewFileType: 'image',
                    initialPreviewConfig: "{$[results]['[value]']??''}",
                    purifyHtml: true,
                    uploadExtraData: {
                        img_key: "1000",
                        img_keywords: "happy, places",
                    }
                }).on("filebatchselected", function(event, files) {
                    // 自动上传
                    $(this).fileinput("upload");
                }).on('fileuploaded', function(event, data, id) {
                    if(data.response)
                    {
                        if (data.response.status == 0)
                        {
                            //获取图像URL
                            var url = data.response.url;
                            $img.val(url);
                        }
                    }
                }).on('fileclear', function(event, id) { $img.val("");
                }).on('filesuccessremove', function(e, id) { $img.val("");
                }).on('filedeleted', function(e, id) { $img.val("");
                });
            });
        </script>
    </div>
</div>