{include file="tpl/style"/}
<form role="form" id="searchForm" action="{:url('index')}" method='post' class="form-horizontal">
    <div class="form-group">

        <div class="col-xs-12">
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 pull-left">
                <div class="row">
                    {include file='tpl/addBtn' url="add" height="80%" width="30%"/}
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <div class="row">
                    <span></span>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 pull-right">
                <div class="row">
                    {include file="tpl/searchBtn" /}
                    {include file="tpl/reloadBtn" /}
                </div>
            </div>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th nowrap="nowrap">父级id</th>
            <th nowrap="nowrap">节点</th>
            <th nowrap="nowrap"></th>
            <th nowrap="nowrap"></th>
            <th nowrap="nowrap"></th>
            <th nowrap="nowrap"></th>
            <th nowrap="nowrap"></th>
            <th nowrap="nowrap">图标</th>
            <th nowrap="nowrap">排序</th>

            <th nowrap="nowrap">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
            <tr>
                <td nowrap="nowrap">{$vo.id}</td>
                <td nowrap="nowrap">{$vo.name}</td>
                <td nowrap="nowrap">{$vo.title}</td>
                <td nowrap="nowrap">{$vo.type}</td>
                <td nowrap="nowrap">{$vo.status}</td>
                <td nowrap="nowrap">{$vo.pid}</td>
                <td nowrap="nowrap">{$vo.condition}</td>
                <td nowrap="nowrap">{$vo.faicon}</td>
                <td nowrap="nowrap">{$vo.sort}</td>

                <td nowrap="nowrap">
                    <!--编辑资料-->
                    <i class="fa fa-edit qg-op-btn qg-tooltip" data-toggle="tooltip" data-placement="top" title="编辑" onclick="modal('{:url(\'edit\',[\'id\'=>$vo[\'id\']])}', '编辑','80%','50%')"></i>
                    <!--删除-->
                    <i class="fa fa-trash-o qg-tooltip qg-op-btn" data-toggle="tooltip" data-placement="top" title="删除" onclick="confirmUpdate('{:url(\'delete\')}','{$vo.id}','确定要删除吗？')"></i>
                </td>
            </tr>
        {/volist}
        </tbody>
    </table>
    <div style="float: right;">{$pagelist}</div>
</div>