<!-- 基础的样式 -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{$sysName}</title>
<!-- jquery -->
{load href="/static/admin/js/jquery.min.js" /}
<!-- bootstrap -->
{load href="/static/admin/css/bootstrap.min.css" /}
{load href="/static/admin/js/bootstrap.min.js" /}
<!-- 图标字体库 -->
{load href="/static/admin/css/font-awesome.css" /}
<!-- nice Validator -->
{load href="/static/admin/plugins/validator-0.7.0/jquery.validator.js" /}
{load href="/static/admin/plugins/validator-0.7.0/jquery.validator.css" /}
{load href="/static/admin/plugins/validator-0.7.0/local/zh_CN.js" /}
<!-- base -->
{load href="/static/admin/js/base.js" /}
{load href="/static/common/js/layer-v3.1.1/layer/layer.js" /}
{load href="/static/admin/js/plugins/Bootstrap-icon-picker-master/css/icon-picker.min.css" /}
{load href="/static/admin/js/plugins/Bootstrap-icon-picker-master/js/iconPicker.min.js" /}